*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Manrope", sans-serif;
}

.mainpage {
    max-width: 900px;
    margin: auto;
}


.header{
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(233, 220, 220);
    border-radius: 5px;
    background-color: rgb(255, 240, 250);
    font-family: "Manrope", sans-serif;
    font-style: normal;
    box-shadow: rgb(234, 174, 218) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.addexpence{
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 240, 250);
    border-radius: 5px;
}

.expenses{
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(233, 220, 220);
    border-radius: 5px;
    background-color: rgb(236, 234, 235);
    box-shadow: rgb(234, 174, 218) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;  
}

.for-row{
    margin: auto;
    padding: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(223, 214, 233);
    gap: 20px;
    border-radius: 3px;
    width: 95%;
}

.filterpage{
      margin: 10px;
    padding: 10px;
    background-color: rgb(255, 227, 246);
    border-radius: 5px;
}

.filteroption{
    margin: 10px;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.card{
    margin: 10px;
    padding: 10px;
    background-color: rgb(248, 214, 237);
    border-radius: 5px;
}

h2{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(102, 0, 51);
    font-weight: 600;
}


.boton1{
    background-color: rgb(190, 127, 127);
    margin: 3px;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.boton2{
    background-color: rgb(190, 127, 127);
    margin: 3px;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.expense-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 8px;
  padding: 8px 10px;
  margin-bottom: 8px;
  background-color: rgb(255, 245, 251);
  border-radius: 5px;
  border: 1px solid rgb(233, 220, 220);
}


